<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LazyModification"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LazyModification">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FileBrowserActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />
        <activity android:name=".ApkOperationsActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />
        <activity android:name=".ConversionActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />
        <activity android:name=".ExtractActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />
        <activity android:name=".SplitApkActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />
        <activity android:name=".EditApkActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />
        <activity android:name=".PatchActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />
        <activity android:name=".LogActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />
        <activity android:name=".CloneApkActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />
        <activity android:name=".CloneFileBrowserActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />
        <activity android:name=".InterfaceModifierActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />
    <activity android:name=".CompareApkActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />    <activity android:name=".CompareFileActivity" android:exported="false" android:theme="@style/Theme.LazyModification" />

        <service
            android:name=".PatchService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>